.display_home {
    margin-top: 16px;
    @media screen and (min-width: 900px) {
        margin-top: 63px;
    }
}

.display_card {
    margin-top: 43px;
    padding: clamp(30px, 5vw, 56px) 0;
    width: 100%;
    height: auto;
    background: $grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
    gap: clamp(20px, 5vw, 40px);
}